<!-- app/views/bookings/new.html.erb -->
<div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-lg">
  <h1 class="text-4xl font-bold mb-6">New Booking</h1>

  <%= render 'form', booking: @booking %>

  <div class="mt-6">
    <%= link_to "Cancel", bookings_path, class: "text-blue-500" %>
  </div>
</div>
